Slight confusion what TPs are allowed or prohibited

In draft 01 section 5.1 we say

> In QMux, use of the following transport parameters is allowed.
> 
>     max_idle_timeout
> 
>     initial_max_data
> 
>     initial_max_stream_data_bidi_local
> 
>     initial_max_stream_data_bidi_remote
> 
>     initial_max_stream_data_uni
> 
>     initial_max_streams_bidi
> 
>     initial_max_streams_uni

we also say in section 9.1

> The use of the Unreliable Datagram Extension [[QUIC_DATAGRAM](https://www.rfc-editor.org/rfc/rfc9221)] is permitted. The encoding and semantics of the Unreliable Datagram Extension remain unchanged, and the use of the extension is negotiated via transport parameters.

Is section 5.1 intended to be exhaustive or not? A reader could be confused since the datagram TP is not mentioned explicitly anywhere. Perhaps we should list it in section 5.1 for completeness.


> Is section 5.1 intended to be exhaustive or not? A reader could be confused since the datagram TP is not mentioned explicitly anywhere. Perhaps we should list it in section 5.1 for completeness.

I think the intent is to provide an exhaustive list for TPs defined in RFC 9000, then, in the paragraphs that follow immediately, clarify the way QMux can be extended via TPs.

Considering that, a minimal fix could be to change the first sentence to: _Among the transport parameters defined in Section 18.2 of QUIC, use of following transport parameters is allowed._

That sounds logical. It does make me wonder how we would track extensions  in the future but I think we need to punt on that until we get more experience.

There is a related issue with "grease" TP ([18.1. ](https://www.rfc-editor.org/rfc/rfc9000.html#section-18.1)[Reserved Transport Parameters](https://www.rfc-editor.org/rfc/rfc9000.html#name-reserved-transport-paramete)). My understanding is that these are OK to send.

There is also an issue with QUIC Datagrams, and the `max_datagram_frame_size` defined in RFC 9221. I think that the draft should specify how to treat all the extentions that are either defined in WG drafts or published RFC. I would guess something like:

- datagrams, RFC 9221: yes, no reason to not allow endoints to negotiate that.
- ack frequency: no, we don't support ACK in QMUX.
- multipath: no. Not until someone does the heavy lifting of explaining how to mix QUIc/UDP and QMUX paths.
- reliable stream reset: not sure, no reason to not support it, but the meaning on top of TCP is a bit dubious
- RFC 9368, Compatible Version Negotiation for QUIC, probably not.
- RFC 9287, Greasing the QUIC Bit, No, no QUIC bit in 

We may also want to do a table describing the parameters defined in RFC 9000, so we can be very clear about what is supported and what is erroneous, and whether the erroneous ones should be silently ignore or should trigger an error.

@huitema Thanks, we can be very clear; please take a look at #53.